
 * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, img, a, ul, li, p, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: 600;
}

body,html{
    height:100%;
    width: 100%;
}

html {
    font-size: 12px;
    line-height: 1.2;
}
body {
    font-weight: 600;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 1024px;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

ul, li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
    color: #909090;
}

input, button, textarea {
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

// 設置網站寬度百分比
.eu-col-11 { width: (100%/12)*11!important;}
.eu-col-10 { width: (100%/12)*10!important;}
.eu-col-9  { width: (100%/12)* 9!important;}
.eu-col-8  { width: (100%/12)* 8!important;}
.eu-col-7  { width: (100%/12)* 7!important;}
.eu-col-6  { width: (100%/12)* 6!important;}
.eu-col-5  { width: (100%/12)* 5!important;}
.eu-col-4  { width: (100%/12)* 4!important;}
.eu-col-3  { width: (100%/12)* 3!important;}
