.home-banner{

}

.banner-list{
    margin-bottom: 24px;
}

.banner-item{
    height: 270px;
    width: auto;
    border-radius: 5px;
    overflow: hidden;

    .img{
        height: inherit;
        width: inherit;
    }
}
