.aside{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 86px 0 0;
    padding: 0 0 30px;
    width: 280px;
    overflow: auto;
    border-right: 1px solid #f0f0f0;
}

.aside-header{
    padding-right: 24px;
    .header{
        display: flex;
        justify-content: space-between;

        .eu-button.add{
            display: flex;
            flex-direction: row-reverse;
        }
    }
}