.container{
    display: flex;
}

.note-list{
    flex: 2;

    .note-item{
        padding: 4px 0 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        display: flex;
        flex-flow: row-reverse;
    }

    .row-img{
        width: 150px;
        height: 100%;

        .img{
            height: inherit;
            width: inherit;
            border-radius: 5px;
        }
    }

    .row-list:not(:only-child){
        padding-right: 18px;
    }

    .title{
        color: #333;
        display: inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
        display: inline-block;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .abstract{
        margin: 0 0 8px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #999;
    }

    .meta{
        font-weight: 400;
        line-height: 20px;
        display: flex;

        .eu-button{
            margin-right: 10px;
            display: flex;
            align-items: center;
            padding: 2px 1px;
            font-size: 12px;
            line-height: 16px;
            color: #b4b4b4;

            &.diamond{
                color: #ea6f5a; 
                cursor: default;
                display: inline;

                .icon{
                    font-size: 10px;
                }
            }

            &.label{

                &:hover{
                    color: #666;
                }
            }

            &.like{
                cursor: default;
                display: inline;
            }
        }

        .icon{
            font-size: 12px;
            margin-right: 4px;
        }
    }
}

.aside-list{
    flex: 1;
}