.eu-header{
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 0 #eee;
}

.wrap{
    width: 1300px;
    height: inherit;
    margin: 0 auto;
    display: flex;
}

.eu-logo{
    height: 56px;
    width: 100px;
    background-image: url('../../resource/imgs/logo/nav-logo.png');
    background-size: contain;
    cursor: pointer;
}