.eu-header{
    background-color: #fff;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;

    .wrap{
        min-width: 768px;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
    }

    &:before{
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f0f0f0;
    }
}

.eu-logo{
    height: 56px;
    padding: 0;

    .img{
        height: 100%;
    }
}

.header-content-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav{
        flex: 1;
    }
}

.navbar-nav{
    display: flex;
}

.eu-button{
    color: #333;
    font-size: 17px;
    line-height: 26px;
    padding: 15px;
    cursor: pointer;
    outline: none;

    &.home{
        margin-right: 10px;
        display: flex;
    }

    &.active{
        color: #ea6f5a;
    }

    .icon{
        display: inherit;
        font-size: 20px;
        margin-right: 6px;

        &::before{
            line-height: 26px;
        }
    }

    .label{
        
    }
}