.eu-header{
    background-color: #fff;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;

    .wrap{
        min-width: 768px;
        max-width: 1440px;
        margin: 0 auto;
        height: 56px;   
    }

    &:before{
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f0f0f0;
    }
}

.eu-logo{
    height: 56px;
    padding: 0;
    float: left;

    .img{
        height: 100%;
    }
}

.nav-wrap{

    &.nav{
        width: 960px;
        margin: auto;

        .eu-button:not(.normal){
            margin-right: 8px;
        }
    }

    &.list{
        float: right;
    }
}

.eu-button{
    cursor: pointer;
    outline: none;
}

.eu-button:not(.normal){
    color: #555;
    font-size: 16px;
    line-height: 26px;
    padding: 15px;
    background-color: transparent;

    &:hover{
        background-color: #f5f5f5;
    }

    &.active{
        color: #ea6f5a;
    }

    .icon{
        display: inherit;
        font-size: 16px;
        margin-right: 6px;

        &::before{
            line-height: 26px;
        }
    }
}

.eu-search{
    padding-left: 12px;
    display: inline-block;

    .eu-wrap{
        position: relative;

        &.active{
            .eu-input{
                width: 260px;
            }
            .eu-button{
                background-color: #999;
                color: #fff;
            }
        }
    }

    .eu-input{
        height: 28px;
        background-color: #eee;
        font-size: 14px;
        color: #555;
        border-radius: 14px;
        padding: 2px 24px 2px 16px;
        min-width: 196px;
        max-width: 300px;
        width: 196px;
    }

    .eu-button{
        position: absolute;
        right: 0;
        top: 0;
        height: 22px;
        width: 22px;
        border-radius: 12px;
        background-color: transparent;
        margin-right: 3px;
        transform: translateY(3px);
        color: #777;

        .icon{
            line-height: 22px;
        }
    }
}